.navbar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.navbar-inner{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}
.image-side{
    width: 20%;
}
.options-side{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.nav-link{
    width: 40%;
    padding: 1vh 1vh;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0 1vh;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.nav-link:hover{
    background-color: #afaeae;
}