.content-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.content-home-inner{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.imagen-header{
    width: 45%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mensaje-header{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    padding: 1vh;
    h2{
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
    }
    h1{
        padding: 0 3vh;
        font-size: 4rem;
        margin: 0;
        border-bottom: 5px solid #0fec64;
    }
}
